@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin regular16Text {
  font-weight: 400;
  font-size: 16px;
}

@mixin bold16Text {
  font-weight: 700;
  font-size: 16px;
}
